.suggestions{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: lightblue;
    border-radius: 4px;
    position: absolute;
    top: 48px;
    width: 100%;
}

.suggestions button{
    background-color: transparent;
}

.suggestions button:hover {
    background-color: lightgreen;
}

.suggestions button[data-selected="true"]{
    background-color: red;
    border-radius: 4px;
}