.suggestions{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: lightblue;
    border-radius: 4px;
}

.suggestions button{
    background-color: transparent;
}

.suggestions button:hover {
    background-color: lightgreen;
}